main {
	--window-border-width: 4px;
	--window-border-radius: 10px;
	--window-border-color: var(--primary7);
}

.heading {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	color: var(--primary13);
}
.heading ~ .heading {margin-top: 100px;}

p {
	width: 100%;
	margin: 0 !important;
}

.download-btn {--bg: var(--quirquoise);}



/* Mobile apps */
.semiware-phone-feature-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 1.5rem 0;
}

.semiware-phone-feature {
	text-align: center;
	font-family: var(--font2);
	font-weight: 500;
	font-style: italic;
	color: var(--primary13);
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	border: 1px solid var(--paragraph-grey);
	border-radius: var(--input-radius);
	background: var(--primary1);
}
.semiware-phone-feature:nth-child(1) { transform: rotate(1deg); }
.semiware-phone-feature:nth-child(2) { transform: rotate(-1deg); }
.semiware-phone-feature:nth-child(3) { transform: rotate(-1deg); }
.semiware-phone-feature:nth-child(4) { transform: rotate(1deg); }

.semiware-phone-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.semiware-phone {
	width: 13rem;
	margin-right: 2rem;
	filter: drop-shadow(0 5px 10px #777);
}

.semiware-phone-icon-container {
	--dimension: 7rem;
	position: relative;
	width: var(--dimension);
	height: var(--dimension);
}

.semiware-phone-icon {
	width: 100%;
	height: 100%;
}

.semiware-phone-price {
	--price-dimension: calc(0.4 * var(--dimension));
	position: absolute;
	right: calc(-0.4 * var(--price-dimension));
	top: calc(-0.4 * var(--price-dimension));
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font3);
	font-size: calc(0.3 * var(--price-dimension));
	font-weight: 700;
	font-style: italic;
	width: var(--price-dimension);
	height: var(--price-dimension);
	background: var(--primary13);
	color: var(--main-background);
	border-radius: 50%;
}

.semiware-phone-btn-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.semiware-phone-btn-container .btn { margin-top: 1rem; }



.semiware-iframe-preloader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary3);
	z-index: 1005;
}

.semiware-iframe-loading-btn {
	--bg: var(--main-text-color);
	display: none;
	pointer-events: none;
}

.btn-loading-dots-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
}

.btn-loading-dots-container div {
	display: inline-block;
	height: 0.65em;
	width: 0.65em;
	margin: 0 0.07em;
	border-radius: 50%;
	background: white;
	animation: shrink-grow 0.6s infinite linear;
}
.btn-loading-dots-container div:nth-child(2) {animation: grow-shrink 0.6s infinite ease-in-out;}



/* Window */
.semiware-window {
	--aspect-ratio: calc(4 / 3);
	--screen-width: 720px;
	--window-tab-overlap: 50px;
	--window-tab-x-padding: 25px;
	--window-tab-y-padding: calc(2 * var(--window-border-width));
	--window-font-size: 13px;
	position: relative;
	justify-content: flex-start;
	align-content: flex-start;
	font-family: var(--font3);
	font-size: var(--window-font-size);
	font-style: italic;
	margin-top: 1.5rem;
}

.semiware-window-tab-container {
	display: flex;
	flex-direction: row;
	color: var(--main-background);
	pointer-events: none;
}

.semiware-window-tab-container > div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--window-tab-y-padding) var(--window-tab-x-padding);
	padding-bottom: calc(var(--window-tab-overlap) - var(--window-border-width) + var(--window-tab-y-padding));
	margin-bottom: calc(-1 * var(--window-tab-overlap));
	white-space: nowrap;
	z-index: 1001;
}

.semiware-window-tab {
	width: min-content;
	background: var(--window-border-color);
	border-radius: var(--window-border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.semiware-window-tab-corner {
	position: absolute;
	bottom: var(--window-tab-overlap);
	width: var(--window-border-radius);
	height: var(--window-border-radius);
	pointer-events: none;
}
.semiware-window-tab-corner svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: var(--window-border-color);
}
.semiware-window-tab-corner[data-side="right"] {
	right: 0;
	transform: translateX(100%);
}
.semiware-window-tab-corner[data-side="left"] {
	left: 0;
	transform: translateX(-100%) rotate(-90deg);
}

.semiware-title-tab {font-weight: 700;}

.semiware-window-version {
	padding-left: calc(var(--window-tab-x-padding) / 2) !important;
	margin-right: auto;
	color: var(--window-border-color);
}

.semiware-theme-option-container {
	opacity: 0;
	padding-bottom: calc(var(--window-tab-overlap) + var(--window-tab-y-padding)) !important;
	padding-right: calc(var(--window-tab-y-padding)) !important;
}

.semiware-theme-option {
	--dimension: var(--window-font-size);
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--dimension);
	height: var(--dimension);
	background: var(--color1);
	border-radius: 50%;
	cursor: pointer;
}
.semiware-theme-option ~ .semiware-theme-option {margin-left: calc(2 * var(--window-border-width));}
input:checked + .semiware-theme-option {transform: scale(1.5);}
.semiware-theme-option div {
	width: calc(0.6 * var(--dimension));
	height: calc(0.6 * var(--dimension));
	background: var(--color3);
	border: 1px solid var(--color2);
	border-radius: 50%;
}

[for="hasbro-theme-option"] {
	--color1: #ea3c25;
	--color2: white;
	--color3: black;
}
[for="mattel-theme-option"] {
	--color1: #01474f;
	--color2: white;
	--color3: #068898;
}
[for="semi-theme-option"] {
	--color1: #a1bdac;
	--color2: black;
	--color3: white;
}

.semiware-option-btn {
	display: flex;
	opacity: 0.5;
	font-size: var(--window-font-size);
	cursor: pointer;
}

.semiware-audio-btn {
	width: calc(1.5 * var(--window-font-size));
	margin-right: calc(0.2 * var(--window-font-size));
}
.fa-volume-high {display: none;}
input:checked + .semiware-audio-btn .fa-volume-xmark {display: none;}
input:checked + .semiware-audio-btn .fa-volume-high {display: inline;}

.semiware-main-wrapper {
	position: relative;
	height: min-content;
	padding: var(--window-border-width);
	background: var(--window-border-color);
	border-radius: calc(var(--window-border-radius) + var(--window-border-width));
	overflow: hidden;
	z-index: 1002;
}

.semiware-window .semiware-iframe-preloader,
#project-tiles-iframe {
	width: var(--screen-width);
	height: calc(var(--screen-width) / var(--aspect-ratio));
	border-radius: var(--window-border-radius);
}

#project-tiles-iframe {
	position: absolute;
	left: var(--window-border-width);
	top: var(--window-border-width);
	display: block !important;
	border: 0;
	overflow: hidden;
	box-sizing: content-box;
	z-index: 1004;
}

.semiware-disclaimer {
	text-align: right;
	width: 100%;
	padding-top: calc(2 * var(--window-border-width));
	color: var(--window-border-color);
}
.semiware-disclaimer svg {margin-right: 0.3em;}



/* Lil' Car */
.semiware-download {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.semiware-widget-frame {
	position: relative;
	margin-right: 2rem;
}

.semiware-widget-frame .semiware-iframe-preloader, #lil-car-iframe {
	width: 310px;
	height: 280px;
}

#lil-car-iframe {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	background: var(--main-background);
	border: 0;
	overflow: hidden;
	box-sizing: content-box;
	z-index: 1004;
}

.semiware-widget-frame .semiware-iframe-preloader {
	border: var(--window-border-width) solid var(--primary7);
	border-radius: calc(var(--window-border-radius) + var(--window-border-width));
	z-index: 1005;
}

.semiware-download-link-container {
	display: flex;
	flex-direction: column;
}

.semiware-download-link-container .download-btn {
	--bg: var(--quirquoise);
	align-items: center;
	width: min-content;
	height: auto;
	padding: 0.75rem 1.5rem;
}
.semiware-download-link-container .download-btn + .download-btn {margin-top: 1rem;}
.semiware-download-link-container .download-btn svg {margin-right: 0.75rem;}
.semiware-download-link-container .download-btn div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	white-space: nowrap;
}
.semiware-download-link-container .download-btn span:nth-of-type(2) {
	font-size: 0.65em;
	font-weight: 400;
	white-space: nowrap;
}



/* States */
[data-state="loading"] .semiware-iframe-load-btn {display: none;}
[data-state="loading"] .semiware-iframe-loading-btn {display: flex;}

[data-state="loaded"] .semiware-iframe-preloader {z-index: 1004 !important;}
[data-state="loaded"] iframe {z-index: 1005 !important;}
[data-state="loaded"] .semiware-window-tab-container {pointer-events: all;}
[data-state="loaded"] .semiware-theme-option-container {opacity: 1;}
[data-state="loaded"] .semiware-option-btn {opacity: 1;}

[data-state="fullscreen"] .semiware-main-wrapper {
	--screen-width: calc(100vh * var(--aspect-ratio));
	padding: 0;
	background: black;
	border-radius: 0;
}
[data-state="fullscreen"] .semiware-iframe-preloader {display: none;}
[data-state="fullscreen"] iframe {
	left: 50% !important;
	top: 0 !important;
	border-radius: 0 !important;
	transform: translateX(-50%);
}