/* Logo */
@keyframes logo {
	to {
		color: transparent;
		text-shadow: var(--logo-offset) var(--logo-offset) var(--primary7);
	}
}



/* Cursor blink */
@keyframes blink {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}



/* Homepage Bouncer */
@keyframes bounce {
	from {bottom: 5px;}
	to {bottom: 15px;}
}



/* Show */
@keyframes show {
	to {
		opacity: 1;
		visibility: visible;
	}
}



/* Link rock */
@keyframes rock {
	25% {transform: rotate(-3deg);}
	50% {transform: rotate(3deg);}
	75% {transform: rotate(-3deg);}
}



/* Loader animations */
:root {
	--loading-shrink: 0.7;
	--loading-opacity: 0.5;
}

@keyframes shrink-grow {
	0% {
		opacity: var(--loading-opacity);
		transform: scale(var(--loading-shrink));
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: var(--loading-opacity);
		transform: scale(var(--loading-shrink));
	}
}

@keyframes grow-shrink {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: var(--loading-opacity);
		transform: scale(var(--loading-shrink));
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}



/* Spin */
@keyframes spin-right {to {transform: rotate(360deg);}}
@keyframes spin-left {to {transform: rotate(-360deg);}}