* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}
*:focus {outline: none;}

body {
	font-family: var(--font1), var(--font4);
	font-size: var(--paragraph-font-size);
	font-weight: 400;
	color: var(--main-text-color);
}

::selection {
	background-color: var(--primary7);
	color: var(--main-background);
}
::-moz-selection {
	background-color: var(--primary7);
	color: var(--main-background);
}