---
---

{% assign semiterms = site.semiterms | sort:"title" %}
{% for semiterm in semiterms %}
	<b>{{ semiterm.title }}</b> ({{ semiterm.ipa }}),

	{% for pos in semiterm.definition %}
		{% case pos.pos %}
			{% when "noun" %}         {% assign shortPos = "n" %}
			{% when "verb" %}         {% assign shortPos = "v" %}
			{% when "adjective" %}    {% assign shortPos = "adj" %}
			{% when "adverb" %}       {% assign shortPos = "adv" %}
			{% when "abbreviation" %} {% assign shortPos = "abbr" %}
			{% when "contraction" %}  {% assign shortPos = "cont" %}
		{% endcase %}

		<i>{{ shortPos }}.</i>

		{% for whatever in pos.description %}
			{% if pos.description.size > 1 %}<b>{{ forloop.index }}</b>{% endif %}
			{{ whatever.explanation }}
		{% endfor %}
	{% endfor %}

	<br>
{% endfor %}