.logo-display-container {height: 85vh;}

.logo {
	--logo-size: 55px;
	--logo-offset: calc(var(--logo-size) / 14);
}
.slogan {--font-size: 16px;}

.homepage-popup {visibility: hidden;}

.semimedia {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.recent-header a {
	font-size: 40px;
	font-style: italic;
}

.recent-media {
	width: 100%;
	border-radius: 0;
	border-top-left-radius: var(--main-radius);
	border-top-right-radius: var(--main-radius);
	margin: 0;
}
.recent-media + .recent-media {margin-top: 80px;}

.recent-header {font-size: 35px;}

.recent-positioner {flex-direction: column;}

.recent-newest {padding: var(--card-margin);}