:root {
	--show-duration: 1s;
	--show-delay: 1.5s;
	--show-interval: 1.2s;
}

.nav {position: absolute;}

.logo-display-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
}
.logo-display-container > .typed-cursor {display: none;}

.logo {
	--logo-size: 140px;
	--logo-stroke: calc(var(--logo-size) / 40);
	--logo-offset: calc(var(--logo-size) / 20);
	--logo-spacing: calc(var(--logo-size) / 80);
	height: calc(var(--logo-size) + var(--logo-stroke) + var(--logo-offset));
	width: 100%;
	text-align: center;
	font-family: var(--font2);
	font-size: var(--logo-size);
	font-weight: 900;
	font-style: italic;
	line-height: calc(var(--logo-size) + var(--logo-stroke) + var(--logo-offset));
	letter-spacing: var(--logo-spacing);
	-webkit-text-stroke-color: var(--main-text-color);
	animation: logo 0.6s forwards;
	animation-delay: 0.6s;
}

.slogan {
	--tooltip-width: 180px;
	--tooltip-float: 15px;
	--font-size: 30px;
	height: var(--font-size);
	opacity: 0;
	visibility: hidden;
	text-align: center;
	font-family: var(--font2);
	font-size: var(--font-size);
	font-weight: 400;
	margin-top: calc(var(--font-size) * (2 / 3));
	color: var(--primary15);
	animation: show var(--show-duration) forwards;
	animation-delay: var(--show-delay);
}
#slogan-adj {font-weight: 700;}

.bouncer {
	position: absolute;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	font-size: 40px;
	color: var(--primary15);
	transform: translateX(-50%);
	animation: bounce 0.5s infinite alternate, show var(--show-duration) forwards;
	animation-delay: calc(var(--show-delay) + var(--show-interval));
}



/* Popup */
.homepage-popup {
	--offset: 30px;
	position: fixed;
	top: var(--offset);
	right: var(--offset);
	display: none;
	z-index: 1000;
}

.close {
	--close-dimension: 30px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(-0.4 * var(--close-dimension));
	right: calc(-0.4 * var(--close-dimension));
	height: var(--close-dimension);
	width: var(--close-dimension);
	background: var(--main-background);
	border-radius: 50%;
	transition: transform 0.15s;
	cursor: pointer;
	z-index: 9999;
}
.close span {
	position: absolute;
	height: 3.5px;
	width: 55%;
	background: var(--main-text-color);
	border-radius: 999px;
}
.close span:nth-child(1) {transform: rotate(45deg);}
.close span:nth-child(2) {transform: rotate(-45deg);}
.close:hover {transform: scale(1.1);}