.semimedia {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 var(--main-margin);
	margin-top: 80px;
}

.recent-media {
	--carousel-width: calc(var(--card-count) * (var(--card-margin) + var(--card-width)));
	margin-bottom: 100px;
	border-radius: calc(3 * var(--input-radius));
	overflow: hidden;
	z-index: 1;
}

.recent-header {
	width: 100%;
	padding: 10px 0;
	background: var(--primary1);
	text-align: center;
}

.recent-header a {
	font-size: 50px;
	font-family: var(--font2);
	font-weight: 700;
	color: var(--primary16);
	text-decoration: none;
}
.recent-header a:hover {text-decoration-thickness: 0.08em;}

.recent-positioner {
	display: flex;
	width: 100%;
}

.recent-newest {
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--primary4);
}

.recent-title {
	display: block;
	width: 100%;
	text-align: center;
	font-family: var(--font2);
	font-size: 30px;
	font-weight: 700;
	font-style: italic;
	color: var(--main-background);
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.carousel-container {
	flex: 1;
	float: left;
	padding: var(--card-margin) 0;
	overflow: hidden;
	background: var(--primary3);
}

.carousel {
	display: flex;
	width: calc(2 * var(--carousel-width));
}

.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: var(--card-height);
	width: var(--card-width);
	padding: 0;
	border-radius: var(--input-radius);
	outline: none;
	background: var(--main-background);
	text-decoration: none;
	transition: all 0.2s;
	overflow: hidden;
}
.recent-newest .card {margin: 0 var(--card-margin);}
.carousel .card {margin: 0 calc(var(--card-margin) / 2);}
.carousel .card:nth-child(odd) {transform: rotate(3deg);}
.carousel .card:nth-child(even) {transform: rotate(-3deg);}
.card:hover {transform: scale(1.05) !important;}

.fake-card {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font2);
	font-size: 12px;
	line-height: var(--font2-line-height);
	padding: 0 40px;
	background: var(--main-background);
	color: var(--paragraph-grey) !important;
	cursor: default;
}

.fake-card br {
	display: block;
	margin-top: 8px;
}



/* Recent Semiterms */
.recent-semiterms {
	--card-count: 8;
	--card-height: 250px;
	--card-width: 200px;
	--card-margin: 40px;
	width: 100%;
}

.recent-semiterms .carousel {
	flex-direction: row-reverse;
	animation: slide-left 40s linear infinite;
}

.recent-semiterms .card-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 38%;
	width: 100%;
	background: var(--primary1);
}

.recent-semiterms .card-semiterm {
	font-family: var(--font2);
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	line-height: var(--font2-line-height);
	color: var(--primary11);
}

.recent-semiterms .card-pron {
	width: 80%;
	font-family: var(--font4);
	font-size: 12px;
	margin-top: 5px;
	color: var(--primary8);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.recent-semiterms .card-bottom {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: var(--container-padding) calc(var(--container-padding) / 2);
}

.recent-semiterms .card-bottom * {font-size: 13px !important;}

.recent-semiterms .card-def {
	line-height: 1.4;
	padding-bottom: 2px;
	margin: 0 20px;
	margin-top: 5px;
	color: var(--main-text-color);
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}



/* Recent Semiqueries */
.recent-semiqueries {
	--card-count: 4;
	--card-height: 155px;
	--card-width: 320px;
	--card-margin: 40px;
	width: 100%;
}

.recent-semiqueries .carousel {
	float: right;
	flex-direction: row;
	justify-content: flex-end;
	animation: slide-right 30s linear infinite;
}

.recent-semiqueries .card {
	--border: 2px;
	--icon-dimension: 45px;
	flex-direction: row;
	color: var(--primary10);
}

.recent-semiqueries .card-left {
	position: relative;
	display: flex;
	align-items: center;
	width: var(--icon-dimension);
	border-right: var(--border) solid var(--primary3);
	background: var(--primary1);
}

.recent-semiqueries .card-icon {
	position: absolute;
	right: calc(var(--icon-dimension) / -2);
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--icon-dimension);
	width: var(--icon-dimension);
	font-size: calc(var(--icon-dimension) * 0.38);
	border: var(--border) solid var(--primary3);
	border-top-color: transparent;
	border-left-color: transparent;
	border-radius: 50%;
	background: var(--primary1);
	transform: rotate(-45deg);
}
.recent-semiqueries .card-icon svg {transform: rotate(45deg);}

.recent-semiqueries .card-right {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: min-content;
	font-family: var(--font2);
	font-style: italic;
	line-height: var(--font2-line-height);
	padding: var(--container-padding);
	padding-left: calc(var(--icon-dimension) / 2 + 10px);
}

.recent-semiqueries .card-title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.recent-semiqueries .card-date {
	font-size: 12px;
	font-weight: 300;
}



/* Carousel Animations */
@keyframes slide-left {
	to {margin-left: calc(-1 * var(--carousel-width));}
}

@keyframes slide-right {
	to {margin-right: calc(-1 * var(--carousel-width));}
}