<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google" content="notranslate">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<title>{%- include title.html -%}</title>
<meta name="title" content="{%- include title.html -%}">
<meta name="description" content="{%- include description.html -%}">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/logos/favicon-32.png">
<link rel="icon" sizes="32x32" href="{{ site.baseurl }}/img/logos/favicon-32.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/logos/favicon-300.png">

<!-- Open Graph/Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{%- include title.html -%}">
<meta property="og:description" content="{%- include description.html -%}">
<meta property="og:image" content="{{ site.baseurl }}/img/logos/preview.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="{%- include title.html -%}">
<meta name="twitter:description" content="{%- include description.html -%}">
<meta name="twitter:image" content="{{ "/img/logos/favicon-300.png" | absolute_url }}">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/fonts/fonts.css">

<!-- Main CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/variables.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/master.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/animations.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/tooltip.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/nav.css">

<!-- Mobile CSS -->
<link rel="stylesheet" media="all and (max-width: {{ site.tablet_width }})" href="{{ site.baseurl }}/css/mobile/variables.css">
<link rel="stylesheet" media="all and (max-width: {{ site.tablet_width }})" href="{{ site.baseurl }}/css/mobile/main.css">
<link rel="stylesheet" media="all and (max-width: {{ site.tablet_width }})" href="{{ site.baseurl }}/css/mobile/nav.css">

<!-- Tablet CSS -->
<link rel="stylesheet" media="all and (max-width: {{ site.tablet_width }}) and (min-width: {{ site.mobile_width }})" href="{{ site.baseurl }}/css/mobile/tablet.css">

<!-- Plugins -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/5978d27576.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.2/packery.pkgd.min.js"></script>

<!-- JS -->
<script src="{{ site.baseurl }}/js/main.js"></script>