<!DOCTYPE html>
<html>

<head>
	{% include head.html %}

	<!-- Chapter Specific -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/chapters/main.css">

	{%- if page.special_css == nil %}

		{%- if page.specific_css == true %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/chapters{{ page.url | replace: ".html", "" | replace: "/chapters", "" }}.css">
		{%- endif %}

		<link rel="stylesheet" media="all and (max-width: {{ site.tablet_width }})" href="{{ site.baseurl }}/css/mobile/chapters.css">

	{%- else %}

		{%- for file in page.special_css %}
		<link
			rel="stylesheet"
			{%- if file contains "mobile" %}
			media="all and (max-width: {{ site.tablet_width }})"
			{%- endif %}
			href="{{ site.baseurl }}/css/{{ file }}.css">
		{%- endfor %}

	{%- endif %}

	{%- if page.special_head != nil %}
		{%- for element in page.special_head %}
		{{ element }}
		{%- endfor %}
	{%- endif %}
</head>

<body class="base-body">
	<div class="nav">
		{% include navicon.html %}
		{% include navbook.html %}
				
		{%- for popup in site.popups %}
			{%- assign name = popup.url | replace:"/popups/","" | replace:".html","" %}
			{%- if name == site.current_popup %}
				{{ popup }}
			{%- endif %}
		{%- endfor %}
	</div>

	<main>
		<div class="chapter-title-container">
			<div class="chapter-title">{{ page.title }}</div>
			<div class="chapter-subtitle">
				<div class="chapter-subtitle-accent"></div>
				<span>{{ page.subtitle }}</span>
				<div class="chapter-subtitle-accent"></div>
			</div>
		</div>
		{{ content }}
	</main>

	<script src="{{ site.baseurl }}/js/main.js"></script>
</body>

</html>