<!DOCTYPE html>
<html>

<head>
	{% include head.html %}

	<!-- Page Specific -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/chapters/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/chapters/semiqueries.css">
	<link rel="stylesheet" media="all and (max-width: {{ site.tablet_width }})" href="{{ site.baseurl }}/css/mobile/chapters.css">
</head>

<body>
	<div class="nav">
		{% include navicon.html %}
		{% include navbook.html %}
		
		{%- for popup in site.popups %}
			{%- assign name = popup.url | replace:"/popups/","" | replace:".html","" %}
			{%- if name == site.current_popup %}
				{{ popup }}
			{%- endif %}
		{%- endfor %}
	</div>

	<main>
		<div class="chapter-title-container">
			<div class="chapter-title">Semiqueries</div>
			<div class="chapter-subtitle">
				<div class="chapter-subtitle-accent"></div>
				<span>Where question marks come to die</span>
				<div class="chapter-subtitle-accent"></div>
			</div>
		</div>

		<div class="semiquery-container">
			{%- assign semiqueries = site.semiqueries | sort: "date" | reverse %}
			{%- for semiquery in semiqueries %}
				<div class="semiquery {% if page.title == semiquery.title %}open-semiquery{% endif %}">

					{%- if page.title == semiquery.title %}
					<div class="semiquery-top">
					{%- else %}
					<a class="semiquery-top" href="{{ site.baseurl }}{{ semiquery.url }}">
					{%- endif %}

						<div class="semiquery-icon">
							{%- for icon in site.data.icons.semiqueries %}
								{%- if icon.topic == semiquery.topic %}
									{% assign topic_icon = icon.icon %}
								{%- endif %}
							{%- endfor %}
							<i class="{{ topic_icon }}"></i>
			
							<span class="hashtag" tooltip="Click to copy link" flow="top">#</span>
						</div>
			
						<span class="semiquery-title">{{ semiquery.title }}</span>
						<span class="semiquery-origin">{{ semiquery.date | date: "%B %-d, %Y" }}</span>

					{%- if page.title == semiquery.title %}
					</div>
					{%- else %}
					</a>
					{%- endif %}
			
					<div class="semiquery-bottom">
						<div class="semiquery-content">{{ semiquery.content }}</div>
					</div>
				</div>
			{%- endfor %}
		</div>

		<!-- <div class="semiquery-suggestion-container">
			<div class="semiquery-suggestion-input-container">
				<div class="semiquery-suggestion-textbox-container">
					<div class="semiquery-suggestion-title">What would you like to ask?</div>

					<textarea
						class="textbox"
						placeholder="Got any ideas? Must end in a question mark..."
						spellcheck="false"
						maximum-scale="1"
						autocomplete="off"
						data-gramm="false"
						data-gramm_editor="false"
						data-enable-grammarly="false"
					></textarea>

					<div class="textbox-bottom-container">
						<div class="char-count">
							<span class="current-char-count">0</span>/200
						</div>
						<div class="textbox-tail"></div>
					</div>
				</div>

				<div class="semiquery-suggestion-topic-container">
					<div class="semiquery-suggestion-title">What topic does it fall under?</div>

					<div class="semiquery-suggestion-topic-wrapper">
						{% for icon in site.data.icons.semiqueries %}
						<input type="radio" name="semiquery-topic" id="{{ icon.topic }}-topic">
						<label class="semiquery-suggestion-topic" for="{{ icon.topic }}-topic">
							<i class="fas {{ icon.icon }}"></i>
							{{ icon.topic | capitalize }}
						</label>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="semiquery-suggestion-submit-btn-container">
				<div class="semiquery-suggestion-submit-btn">
					<div class="semiquery-suggestion-submit-btn-base-bottom"></div>
					<div class="semiquery-suggestion-submit-btn-base-stalk"></div>
					<div class="semiquery-suggestion-submit-btn-base-top"></div>
					<div class="semiquery-suggestion-submit-btn-top-bottom"></div>
					<div class="semiquery-suggestion-submit-btn-top-stalk"></div>
					<div class="semiquery-suggestion-submit-btn-top-top">Comically Large<div>Submit Button</div></div>
				</div>
			</div>
		</div> -->
	</main>

	<script src="{{ site.baseurl }}/js/main.js"></script>
	<script>
		// On document load, scroll to open semiquery
		$(document).ready(function() {
			$("html, body").scrollTop($(".open-semiquery").offset().top - 50);
		});
	
	
	
		// Copy semiquery title on click
		var hashtagText = $(".hashtag").attr("tooltip");

		$(".hashtag").click(function(e) {
			e.stopPropagation();
	
			copy(location.href);
	
			var $this = $(this);
			$this.attr("tooltip", "Copied!");
			setTimeout(() => $this.attr("tooltip", hashtagText), 700);
		});
	</script>
</body>

</html>